<%- include('../partials/header') %>

    
    <h1>Plant Directory</h1>
    <% if (user.plants) { %>
        <table>
          <thead>
            <tr>
              <th>Plant</th>
              <th>Lighting</th>
              <th>Environment</th>
            </tr>
          </thead>
          <tbody>
            <% if (user.plants) { %>
            <% user.plants.forEach(function(p, idx) { %>
              <tr>
                <td><%= p.plantName %></td>
                <td><%= p.lighting %></td>
                <td><%= p.environment %></td>
                <td><a href="/plants/<%= p._id %>">Gimme the deets</a></td>
                <form action="/plants/<%= p._id %>?_method=DELETE" method= "POST">
                <td><input type="submit" value="Remove"></form></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else {%>
        <h5>No Plants Added Yet</h5>
      <% }} %>


  
</form>

<%- include('../partials/footer') %>
