<%- include('../partials/header') %>

<section id="show-page">
  <div>Plant Name: </div>
  <div><%= plant.plantName %></div>
  <div>Add Type of Lighting </div>
  <div><%= plant.lighting %></div>
  <div>Add Type of Environment: </div>
  <div><%= plant.environment %></div>
  </div>
</section>




<%- include('../partials/footer') %>